NODE_ENV=development

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=eventos
POSTGRES_USER=eventos
POSTGRES_PASSWORD=eventos

REDIS_HOST=redis
REDIS_PORT=6379

API_PORT=3000
CMS_PORT=1337
REALTIME_PORT=3001
WEB_PORT=10086

WECHAT_APP_ID=replace_me
WECHAT_APP_SECRET=replace_me
QR_HMAC_SECRET=replace_me

